:root {
  --background-color: #e5fcff;
  --white: #ffffff;
  --black: #000000;
  --font-high-light: #0a505b;
  --secondry: #148b9c;
  --gold: #ffcb5b;
  --green: #00a300;
  --red: #d10003;
  --linear-gradient: linear-gradient(90deg, #0a505b 0%, #148b9c 100%);
  --titleFont: Outfit;
  --heroDescrFont: Inter;
  --descrFont: Roboto;
}
