.announcement {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* لجعل العناصر في المنتصف */
}

.announcementTitle {
  font-family: var(--titleFont);
  color: var(--font-high-light);
  font-weight: bold;
  text-align: left;
  width: 60%;
  margin-bottom: 1rem;
}

.announcement h4 {
  font-family: var(--titleFont);
  color: var(--font-high-light);
  text-align: left;
  width: 60%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.announcement-cards {
  display: flex;
  flex-direction: column; /* جعل الكروت تظهر كأعمدة */
  width: 60%;
  gap: 20px;
}

.announcement-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 1rem;

  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-left: 5px solid var(--secondry);
  background-color: #fff;
  font-family: var(--titleFont);
  transition: transform 0.2s ease-in-out;
}

.announcement-card:hover {
  transform: translateY(-5px); /* تأثير الحركة عند التحويم */
}

.announcement-card h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-high-light);
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.announcement-card p {
  margin: 0.5rem 0;
  color: #333;
}

.announcement-card button {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondry);
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: color 0.2s ease-in-out;
}

.announcement-card button:hover {
  color: var(--font-high-light); /* تغيير لون النص عند التحويم */
}

.announcement-card button:active {
  color: var(--secondry-dark); /* لون عند الضغط */
}
