.AddPost {
  background-color: white;
  border-radius: 15px;
  padding: 0.25rem;
  width: 65%; /* Full width for smaller screens */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.addpostLastSec {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.image-icon {
  cursor: pointer;
  font-size: 24px;
  color: #007bff; /* Bootstrap primary color */
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .AddPost {
    width: 100%; /* Slightly smaller width on extra small screens */
  }


  .image-icon {
    font-size: 20px; /* Smaller icon on smaller screens */
  }
}
