.dashSidebar{
  background-color: black;
  color: white;
  border-radius: 7px;
  width: 20%;
  opacity: 90%;
  }
  .topSideBar{
    background-color: white;
   color: black;
   display: flex;
   align-items: center;
   justify-content: flex-start;
  }
  .logo-img {
    height: 40px;
    max-width: 70%;
    object-fit: contain;
  }
  .icon-link {
    opacity: 70%;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px; /* space between icon and text */
    color: #fddb88; /* icon link color */
  }
  
  /* Add hover effect */
  .icon-link:hover {
    opacity: 0.8;
    text-decoration: none; /* Ensure underline is still removed */
  }
  
  .icon-link-hover {
    transition: color 0.2s, opacity 0.2s;
  }