.dashHome{
  height: auto;
  }
  .dashboard {
    width: auto;
    background-color: #f4f6f9;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  /* Default padding */
  }
  
  /* For screens smaller than 768px (small screens like mobile devices) */
  @media (max-width: 768px) {
    .dashboard {
      width: 80%;
      padding: 0.5rem;  /* Reduce padding on small screens */
    }
  }
  
  /* For screens smaller than 576px (extra small screens like small mobile devices) */
  @media (max-width: 576px) {
    .dashboard {
      width: 80%;
      padding: 0.25rem;  /* Further reduce padding on very small screens */
    }
  }
  