.Social{
  height: auto;
  border-radius: 15px;
  background-color: #588ebb;
  margin: 0px auto 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
.SocialTitle{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
  padding: 0.25rem;
  color: white;
}


.SocialImg {
  width: 100%; /* Make image responsive */
  max-width: 320px; /* Set max width for small screens */
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .SocialDiv {
    flex-direction: column; /* Stack elements on small screens */
    align-items: center; /* Center align for smaller screens */
  }

  .SocialImg {
    max-width: 60%; /* Full width on smaller screens */
    margin: auto;
  }

  /* Ensure AddPost takes 100% width */
  .AddPost {
    width: 100%; /* AddPost takes full width */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) { /* For tablets and small screens */
  .SocialTitle {
    font-size: 1.1rem; /* Slightly smaller font size */
    padding: 0.2rem; /* Reduced padding */
  }
}

@media (max-width: 576px) { /* For mobile devices */
  .SocialTitle {
    font-size: 1rem; /* Smaller font size for mobile */
    margin-bottom: 0.5rem; /* Reduced margin */
    padding: 0.15rem; /* Further reduced padding */
  }
}