.PostCard {
  background-color: var(--white);
  border-radius: 18px;
  width: 100%;
  margin: 0.5rem auto;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.socialTopCard {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.socialTopCard img {
  max-width: 40px;
  height: 40px;
  margin-right: 0.25rem;
  border-radius: 200px;
}

.socialpostsection {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.socialpostsection p {
  margin-left: 0.5rem;
}

.socialpostsection img {
  width: 100%;
  max-height: 429px;
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.socialdivider {
  width: 97%;
  height: 2px;
  background-color: rgb(145, 145, 145);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto 5px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment-section textarea {
  margin: 5px 0;
  width: 100%;
}

.comment-section ul {
  padding: 0;
  list-style: none;
}

.comment-section li {
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #eee;
}
