@import url('../../assets/Global.css');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.mixed {
  display: flex;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 600px;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
}

.form-container {
  background-color: var(--background-color);
  justify-content: center;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-container {
  align-items: center;
  box-sizing: border-box;
}

.form-container {
  max-width: 100%;
}

.form-container h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: var(--font-high-light);
  margin-bottom: 25px;
  font-family: var(--titleFont);
}

.input-with-icon {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

.input-icon {
  position: absolute;
  left: 15px; /* Adjust position */
  top: 50%;
  transform: translateY(-50%);
  color: var(--black); /* Icon color */
  font-size: 20px; /* Adjust icon size */
}

.form-container input {
  width: calc(100% - 40px); /* Adjust width calculation to account for padding */
  padding: 15px 15px 15px 40px; /* Adjust padding to maintain space for the icon */
  margin: 8px 0;
  border: none;
  border: 2px double var(--black);
  border-radius: 30px;
  font-size: 16px;
  font-family: var(--descrFont);
}

.form-container small {
  color: var(--red);
  font-size: 14px;
  margin-bottom: 10px;
}

.forgot-password-link {
  display: block;
  color: var(--secondary);
  font-size: 14px;
  text-decoration: none;
  margin: 10px 0;
  text-align: center;
  align-self: center;
}

.form-container button {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.form-container button:hover {
  background-color: var(--font-high-light);
}

.image-container {
  display: none;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  max-width: 600px;
  border-top-left-radius: 50px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .mixed {
    flex-direction: row;
  }

  .form-container, .image-container {
    width: 50%;
  }

  .image-container {
    display: flex;
  }
}